In [68]:
#imoport Librarys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [69]:
#import dataset
data = pd.read_csv('spam.csv')

In [71]:
#get information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [72]:
#assuming columns to variables
X = data['EmailText'].values
y = data['Label'].values

In [73]:
#Split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [74]:
# Converting String to Integer
cv = CountVectorizer() 
X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

In [75]:
#import SVM algorithm and train the model
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
m=classifier.fit(X_train, y_train)

In [76]:
#get accuracy of the model
print(classifier.score(X_test,y_test))

0.9766816143497757

In [77]:
#import new imput data as dataset
data1 = pd.read_csv('Book1.csv')

In [78]:
data1.head()

            Hey, you have won a car !!!!. Conrgratzz
0  Dear applicant, Your CV has been recieved. Bes...
1         You have received $1000000 to your account
2                       Join with our whatsapp group
3      Kindly check the previous email. Kind Regards

In [79]:
#assign new column name
data1.set_axis(['Emails'], axis='columns', inplace=True)

In [108]:
#get data form the column and pass to list
Emails=new_input = data1['Emails'].values
Emails

array(['Dear applicant, Your CV has been recieved. Best regards',
       'You have received $1000000 to your account',
       'Join with our whatsapp group',
       'Kindly check the previous email. Kind Regards'], dtype=object)

In [109]:
#transfrom as a vector
X1_train = cv.transform(Emails)

In [115]:
#get result for newdata set
new_output = m.predict(X1_train)
new_output

array(['ham', 'ham', 'ham', 'ham'], dtype=object)

In [113]:
#create new data set with predicted result
df1=pd.DataFrame({'Emails':Emails,'Label':new_output})

In [114]:
df1

                                              Emails Label
0  Dear applicant, Your CV has been recieved. Bes...   ham
1         You have received $1000000 to your account   ham
2                       Join with our whatsapp group   ham
3      Kindly check the previous email. Kind Regards   ham